body {
    width: 800px;
    font-family: 'Walter Turncoat', cursive;
    margin: 0 auto;
    color: rgba(9, 8, 48, 0.8);
    text-align: center;
    height: 80vh;
    /* display: flex;
    flex-direction: column; */
    /* background-image: url(https://i.imgur.com/NHQuP3I.jpg); */
    background-image: url(https://i.imgur.com/7mxqyFV.jpg);
    background-size: cover;
    background-color: rgb(236, 222, 204);
}

h1 {
    font-size: 64px;
    margin-bottom: 0;
}

p {
    font-weight: bold;
    font-size: 24px;
}

h2 {
    font-size: 28px;
}

.center {
    display: inline-block;
    margin: 0 auto;
}

/* h2 {
    margin: 10px 10px 20px 10px;
} */

#board {
    margin: 20px auto;
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
    grid-gap: 0vmin;
}

.cell {
    font-family: 'Permanent Marker', cursive;
    border: 4px solid  rgba(9, 8, 48, 0.8);
    font-size: 70px;
    text-align: center;
    vertical-align: middle;
}

.side {
    display: inline-block;
}

#sq0 {
    border-width: 0px 4px 4px 0px;
}

#sq1 {
    border-width: 0px 4px 4px 4px;
}

#sq2 {
    border-width: 0px 0px 4px 4px;
}

#sq3 {
    border-width: 4px 4px 4px 0px;
}

#sq4 {
    border-width: 4px 4px 4px 4px;
}

#sq5 {
    border-width: 4px 0px 4px 4px;
}

#sq6 {
    border-width: 4px 4px 0px 0px;
}

#sq7 {
    border-width: 4px 4px 0px 4px;
}

#sq8 {
    border-width: 4px 0px 0px 4px;
}

button, input {
    font-family: 'Walter Turncoat', cursive;
    font-size: 25px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.0);
    color:  rgba(9, 8, 48, 0.8);
    border-radius: 8px;
    border-width: 6px;
    border-color:  rgba(9, 8, 48, 0.8);
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 10px 10px 10px;
}

::placeholder {
    color:  rgba(9, 8, 48, 0.445);
}

.marker {
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
}